.sleeptracker {
    border-radius: 1%;
    width: 80%;
    height: auto;
    margin: 1%;

    canvas {
        margin: 1%;
        padding: auto;
        width: 80%;
        height: auto;
        border-radius: 1%;
        background-color: #C5DDFC;
        color: white;
    }
}