.sleeptracker {
    border: 1px groove black;
    border-radius: 1%;
    width: auto;
    height: auto;
    margin: 1%;
    box-shadow: 10px 10px 10px black;

    canvas {
        margin: 1%;
        padding: auto;
        width: auto;
        height: auto;
        border-radius: 1%;
        box-shadow: 10px 10px 10px black;
    }
}